@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea, input, button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #00c3ff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b3000f;
  }

  footer{
    text-align: center;
  }
  